@charset "utf-8";

/*===============================================================================================================   

Author      : Muhammad Febriansyah

Built       : Mei 2017

=============================================================================================================== */



@media all and (max-width:1050px){

    
	
    /* header

    ================================================================================================================= */
	
    /* middle homepage

    ================================================================================================================= */
	.wrapper,.mid-wrapper{
        width: 100%;
        padding-right: 20px;
        padding-left: 20px;
    }
	
    /* middle contentpage

    ================================================================================================================= */
	
    /* footer

    ================================================================================================================= */
	
	
}

